body {
  background-color: #f5f5f5;
}

// Grid breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;

$sidebar-size-md: 200px;
$sidebar-size-lg: 280px;
$sidebar-size-collapsed: 320px;

$top-margin-size: 2rem;
$accent-color: #303f9f;
$lora: 'Lora', serif;
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

.sidebar {
  position: fixed;
  left: 0;
  width: $sidebar-size-collapsed;
  z-index: 1;
  height: 100%;
  background-color: #efefef;
  padding: 0 1rem;
  overflow-y: scroll;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  @media screen and (min-width: $small) {
    left: 0;
    width: $sidebar-size-collapsed;
  }
  @media screen and (min-width: $medium) {
    left: unset;
    overflow-y: unset;
    width: $sidebar-size-md;
    background-color: transparent;
    padding: 0;
  }
  @media screen and (min-width: $large) {
    left: unset;
    width: $sidebar-size-lg;
    background-color: transparent;
    padding: 0;
  }
}

.sidebar-collapse {
  left: -$sidebar-size-collapsed;
  @media screen and (min-width: $medium) {
    left: unset;
  }
  @media screen and (min-width: $large) {
    left: unset;
  }
}

.sidebar-toggle {
  margin-bottom: 2rem;
  visibility: hidden;
  @media screen and (max-width: $medium) {
    visibility: visible;
  }
}

.sidebar-toggle img {
  width: 32px;
  height: 32px;
}

.sidebar-inner {
  margin-top: $top-margin-size;
  text-align: right;
}

.sidebar-pic {
  width: 100%;
  border-radius: 12px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}

.sidebar-title {
  color: $accent-color;
  margin-top: 2rem;  
  font-family: $playfair;
}

.sidebar-des {
  margin-top: 1rem;  
  color: grey;
  font-family: $roboto;
}

.content {
  margin-left: 0px;
  margin-top: $top-margin-size;
  padding: 0rem 1rem 1rem 1rem;
  @media screen and (min-width: $medium) {
    margin-left: $sidebar-size-md;
    padding: 1rem 0rem 1rem 5rem;
  }
  @media screen and (min-width: $large) {
    margin-left: $sidebar-size-lg;
    padding: 1rem 0rem 1rem 5rem;
  }
}

.article {
  margin-bottom: 5rem;
}

.article .display-4 {
  font-family: $lora;
}

.article a {
  text-decoration: none;
  color: #333;
}

.article a:hover {
  color: $accent-color;
  transition: 500ms;
}

.article h5 {
  font-family: $roboto;
  color: #999;
  margin-bottom: 2rem;
}

.article p {
  color: #555;
  font-family: $roboto;
  text-align: justify;
}

.post {
  margin: 6rem auto;
}

.post .post-back {
  font-weight: bold;
  margin-bottom: 2rem;
}