body {
  background-color: #f5f5f5; }

.sidebar {
  position: fixed;
  width: 280px; }

.sidebar-pic {
  width: 100%;
  border-radius: 12px;
  margin-top: 4rem;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 6-9 */ }

.sidebar-title {
  color: #303f9f;
  margin-top: 2rem;
  font-family: "Playfair Display", serif; }

.sidebar-des {
  margin-top: 1rem;
  color: grey;
  font-family: "Roboto", sans-serif; }

.content {
  margin-left: 280px;
  margin-top: 4rem;
  padding: 1rem 0rem 1rem 5rem; }

.article {
  margin-bottom: 5rem; }

.article .display-4 {
  font-family: "Lora", serif; }

.article a {
  text-decoration: none;
  color: #333; }

.article a:hover {
  color: #303f9f;
  transition: 500ms; }

.article h5 {
  font-family: "Roboto", sans-serif;
  color: #999;
  margin-bottom: 2rem; }

.article p {
  color: #555;
  font-family: "Roboto", sans-serif;
  text-align: justify; }

.post {
  margin: 6rem auto; }

.post .post-back {
  font-weight: bold;
  margin-bottom: 2rem; }
